<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>AKAMSVCS | Contact</title>
	<link href="{{ STATIC_URL }}style1.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="{{ STATIC_URL }}fonts.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div id="logo" class="container">
	<h1><span class="icon icon-globe icon-size"></span><a href="/ServicesFundingModel/home">AKAM<span>SVCS</span></a></h1>
	<p>service operations | web applications</p>
</div>
<div id="wrapper" class="container">
	<div id="menu" class="container">
		<ul>
			<li><a href="/ServicesFundingModel/home" accesskey="1" title="">Home</a></li>
			<li><a href="/ServicesFundingModel/about" accesskey="2" title="">About</a></li>
			<li><a href="/ServicesFundingModel/setup" accesskey="3" title="">Model Setup</a></li>
			<li><a href="/ServicesFundingModel/view" accesskey="3" title="">Model View</a></li>
			<li><a href="/ServicesFundingModel/run/Global" accesskey="4" title="">Model Run</a></li>
			<li><a href="/ServicesFundingModel/admin" accesskey="5" title="">Admin</a></li>
			<li   class="current_page_item"><a href="/ServicesFundingModel/contact" accesskey="6" title="">Contact</a></li>
		</ul>
	</div>
	<div><span class="arrow-down"></span></div>
	<div id="page">
		<div id="box1">
			<div class="title">
				<h2><font size=4>Contact</font size></h2>
				<p></p>
				<span class="byline">
				<font size="2" color="black"><p>Joshua Archbold</p>
				<p>Ross Feinberg</p>
				<p>Service Operations</p></font></span>
			</div>
		</div>
		<div id="box2">
			<div class="title">
				<h2><font size=4>Email</font size></h2>
				<p></p>
				<span class="byline">
				<font size="2" color="black"><p><a href="mailto:jarchbol@akamai.com" style="text-decoration:none";>jarchbol@akamai.com</a></p>
				<p><a href="mailto:rfeinber@akamai.com" style="text-decoration:none";>rfeinber@akamai.com</a></p>
				<p><a href="mailto:service-ops@akamai.com" style="text-decoration:none";>serviceops@akamai.com</a></p></font></span>
			</div>
		</div>
		<div id="box3">
			<div class="title">
				<h2><font size=4>Phone</font size></h2>
				<p></p>
				<span class="byline">
				<font size="2" color="black"><p>617 444 4696</p>
				<p>617 444 4695</p></font></span>
			</div>
		</div>
	</div>
</div>
<div id="copyright">
	<p>Service Operations Web Applications | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
</body>
</html>
